<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/materialize.css">
    <meta property="og:image" content=<%=typeof embedLink !='undefined' ? embedLink : '' %> />

    <title>Node file upload</title>
</head>

<body>

    <div class="container">
        <h1>File Upload</h1>
        <font color="red"><b>
                <p>
                    <%= typeof msg != 'undefined' ? msg : '' %>
                </p>
            </b>
        </font>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class='file-field input-field'>
                <div class='btn grey'>
                    <span>File</span>
                    <input name="myFile" type="file">
                </div>
                <div class='file-path=wrapper'>
                    <input class='file-path validate' type='text' placeholder="Upload a file">
                </div>
            </div>
            <div>
                <label>File Lifetime</label>
                <select class="browser-default" name="lifeTime">
                    <option value="1">1 Day</option>
                    <option value="2">2 Days</option>
                    <option value="3">3 Days</option>
                </select>
            </div>
            </br>
            <button type="submit" class="btn">Submit</button>
            <p>
                <a href=<%=typeof dl !='undefined' ? dl : '' %>>
                    <%= typeof dl != 'undefined' ? dl : '' %></a>
            </p>

        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="/js/materialize.js"></script>
</body>

</html>