<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        body {
            background-image: url(<%= typeof uri != 'undefined' ? uri : ''%>);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css" />
    <title>pUploads - Javascript</title>
</head>

<body>
    <div class="background"></div>

    <div class="mContainer" id="mContainer">
        <h1>Oh noes!</h1>
        <h2>Javascript is disabled :(</h2>
    </div>
    <div class="footer">
        <div class="dev">Developed by <a href="https://www.poonkje.com/">poonkje</a></div>
        <div class="footer_info">Background by <a href=<%=typeof profileURI !='undefined' ? profileURI : '' %>>
                <%= typeof username != 'undefined' ? username : ''%></a> on <a href="https://unsplash.com/?utm_source=pUploads&utm_medium=referral">Unsplash</a></div>
    </div>
</body>

</html>